@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;600&display=swap');


*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Poppins', sans-serif;
}

.titulo-centrado{
  text-align: center;
  font-family: 'Poppins', sans-serif;
  margin-bottom: 15px;
  
  
}

.titulo-centrado p{
  margin: 0 0 1em;
}

h2{
  height: 150px;
  padding: 5px;
  margin: 20px;
}


em strong {
  color: #1746A2;
}

/* aqui va el header de la pagina con su navbar*/

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 40px;
  background-color: #333;
  color: #fff;
  border-radius: 20px;
}

.title-principal {
  margin: 0 auto;
  margin-left: 80px;
}

.navbar {
  list-style: none;
  margin: 0 auto;
  padding: 0;
  display: flex;
  margin-left: auto;
  margin-right: 50px;
  
}


li {
  margin-left: 20px;
  
}

li:first-child {
  margin-left: 0;
}

a {
  color: #fff;
  text-decoration: none;
  font-weight: bold;
  font-size: 16px;
  padding: 5px;
  border-radius: 5px;
}

a:hover {
  background-color: #fff;
  color: #333;
}

/* aqui empieza el banner*/
.banner {
  width: 100%;
  height: 100vh;
  padding: 5px;
  border: 5px solid #D8D8D8;
  border-radius: 25px;
}

.principal{
  width: auto;
  display: flex;
  flex-direction: column;
  height: 100vh;
  background-color: #D8D8D8;
  margin: 5px;
  border-radius: 10px;
  padding: 20px;
  justify-content: center;
}

.logo{
  width: 150px;
  height: 150px;
  display: block;
  margin: 0 auto;
  margin-bottom: 80px;
  
}

.items{
  font-style: italic;
}

h2{
  text-align: center;
  font-size: 1.5em;
}

h2, ul, li {
  margin-top: 10px;
  margin-left: 20px;
  margin-bottom: 15px;
  
}

h3{
  font-size: 1.5em;
}

.diferenciales {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  font-family: 'Poppins', sans-serif;
  margin: 0 auto;
  max-width: 900px; /* Ajusta el ancho máximo según tus necesidades */
  text-align: center;
}


h2 {
  text-align: center;
  margin-bottom: 10px;
}

.lista-diferenciales {
  display: flex;
  flex-wrap: wrap; /* Permite que los elementos se envuelvan a una nueva línea si no caben en el ancho disponible */
  flex-direction: column;
  justify-content: center;
  margin-bottom: 10px; /* Agrega un margen inferior para separar la lista de la imagen */
}

.lista-diferenciales li {
  margin-right: 20px; /* Agrega un margen derecho para separar los elementos de la lista */
  text-decoration: none;
  text-align: center;
  justify-content: center;
}


.items{
  line-height: 1.5;
 
}

.items:first-child{
  font-weight: bold;
}

.items:before{
  content: " ✔ ";
}

.img-diferencial {
  width: 70%;
  border-radius: 10px;
  box-shadow: 10px 10px 30px 15px #000;

}

.img-diferencial:hover{
  opacity: 50%;
  transform: scale(1.05);
  transition: 2s;
  
}

p{
  font-size: 1.2em;
  text-align: center;
}

main {
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.8) 100%);
}

/* map styles*/
.map {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 80vh; /* Ajusta la altura según tus necesidades */
  
}

.map iframe {

  margin-top: 20px; /* Ajusta el margen superior según tus necesidades */
  
}


.video{
  width: 900px;
  height: 550px;
  margin: 1em auto;
}

/*styles  for footer*/

footer{
  text-align: center;
  background: url(../img/bg.jpg);  
  border-radius: 20px;
  padding: 40px;
}

.copyright{
  color: #fff;
}


/* Aquí empiezan los mediaquerys del responsive desing*/
/* Estilos para pantallas con un ancho máximo de 768px */
@media screen and(max-width: 768px) {
  header {
    padding: 20px;
  }
  
  .title-principal {
    margin-left: 20px;
  }
  
  .navbar {
    margin-right: 20px;
  }
  
  .banner {
    border-radius: 0;
  }
  
  .principal {
    padding: 10px;
    margin: 0;
  }
  
  .logo {
    width: 100px;
    height: 100px;
    margin-bottom: 40px;
  }

  .map {
    height: 500px;
  }
  
  .items {
    margin-left: 0;
  }
  
  .img-diferencial {
    width: 90%;
  }
  
  .video {
    width: 100%;
    height: 300px;
  }
  
  footer {
    padding: 20px;
  }
}

/* Estilos para pantallas con un ancho máximo de 576px */
@media screen and(max-width: 576px) {
  .title-principal {
    margin-left: 10px;
  }
  
  .navbar {
    margin-right: 10px;
  }
  
  .principal {
    padding: 5px;
    margin: 0;
  }
  
  .logo {
    width: 80px;
    height: 80px;
    margin-bottom: 20px;
  }

  .map {
    height: 400px;
  }
  
  .img-diferencial {
    width: 100%;
  }
  
  .video {
    width: 100%;
    height: 200px;
  }
  
  footer {
    padding: 10px;
  }
}

/* Estilos para pantallas con un ancho máximo de 320px */
@media screen and(max-width: 320px) {
  .title-principal {
    font-size: 24px;
    margin-left: 5px;
  }
  
  .navbar {
    margin-right: 5px;
  }
  
  .principal {
    padding: 2px;
    margin: 0;
  }
  
  .logo {
    width: 60px;
    height: 60px;
    margin-bottom: 10px;
  }

  .map {
    height: 300px;
  }
  
  .img-diferencial {
    width: 100%;
  }
  
  .video {
    width: 100%;
    height: 150px;
  }
  
  footer {
    padding: 5px;
  }
}
  