@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;600&display=swap');


*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Poppins', sans-serif;
}

.titulo-centrado{
  text-align: center;
  font-family: 'Poppins', sans-serif;
  
}

h2{
  height: 150px;
  padding: 5px;
  margin: 20px;
}


em strong {
  color: #1746A2;
}

/* aqui va el header de la pagina con su navbar*/

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 40px;
  background-color: #333;
  color: #fff;
  border-radius: 20px;
}

.title-principal {
  margin: 0 auto;
  margin-left: 80px;
}

.navbar {
  list-style: none;
  margin: 0 auto;
  padding: 0;
  display: flex;
  margin-left: auto;
  margin-right: 50px;
  
}


li {
  margin-left: 20px;
  
}

li:first-child {
  margin-left: 0;
}

a {
  color: #fff;
  text-decoration: none;
  font-weight: bold;
  font-size: 16px;
  padding: 5px;
  border-radius: 5px;
}

a:hover {
  background-color: #fff;
  color: #333;
}

/* aqui empieza el banner*/
.banner {
  width: 100%;
  height: 100vh;
  padding: 5px;
  border: 5px solid #D8D8D8;
  border-radius: 25px;
}

.principal{
  background-color: #D8D8D8;
  margin: 5px;
  border-radius: 10px;
  padding: 20px
}

.logo{
  width: 200px;
  height: 200px;
  margin-left: 800px;
  margin-bottom: 50px;
  margin-top: 0  auto;
  
}

.items{
  font-style: italic;
}

h2{
  text-align: center;
  font-size: 1.5em;
}

h2, ul, li {
  margin-top: 10px;
  margin-left: 20px;
  margin-bottom: 15px;
  
}

h3{
  font-size: 1.5em;
}

.diferenciales{
  background-color: #ffffff;
  padding: 20px;
  font-family: 'Poppins', sans-serif;
}

ul{
  display: inline-block;
  vertical-align: top;
  width: 15%;
  margin-right: 150px;
  font-size: 1.2em;
}

.img-diferencial{
  width: 50%;
  height: 50%;
  display: inline-block;
  border-radius: 10px;
  
}

p{
  font-size: 1.2em;
}




/*styles  for footer*/

